@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    margin: 0;
    width: 100%;
    min-height: 100vh; /* Takes up 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    font-family: 
        "Noto Sans Arabic", 
        "Noto Sans SC", 
        "Noto Sans JP", 
        "Noto Sans KR", 
        "Noto Sans", 
        sans-serif;
}
h1{
    color: #fff;
    font-size: 4.5rem;
}

h2{
    margin: 2rem;
    color: #fff;
    font-size: 2rem;
}

.btn-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button{
    width: 300px;
    height: 50px;
    background-color: #218aff;
    color: #fff;
    border: none;
    border-radius: 13px;
    margin-top: 3rem;
    cursor: pointer;
    font-size: 25px;
    opacity: 1;
    transition: all .3s ease;
        font-family: 
        "Noto Sans Arabic", 
        "Noto Sans SC", 
        "Noto Sans JP", 
        "Noto Sans KR", 
        "Noto Sans", 
        sans-serif;
}

button:hover{
    opacity: .85;
}

span{
    color: #5aa6fc;
}


#langSelect {
    margin-top: 1.5rem;
    width: 200px;
    height: 40px;
    padding: 0 1rem;

    background-color: #1f1f1f;
    color: #fff;

    border: 2px solid #218aff;
    border-radius: 13px;

    font-size: 1rem;
    text-align: center;

    cursor: pointer;
    transition: all 0.3s ease;

    /* remove default browser styles */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* custom arrow */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 12px;
}

#langSelect:hover{
    background-color: #2a2a2a;
}

#langSelect:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(33, 138, 255, 0.5);
}

/* Dropdown options */
#langSelect:optional {
    background-color: #1f1f1f;
    color: #fff;
    border-radius: 10px;
}
