input {
    background: none;
    appearance: none;
    border: 0;
    font-size: 22px;
    color: white;
    border-bottom: 2px solid white;
    width:300px;
}

input::placeholder {
color: white;
}

input:focus,
input:active {
outline: none;
}
  

input:first-child{
    margin-bottom: 15px;
}


#Search {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#Search:hover{
    border-radius: 50px;
    color:#ddd;
}


#logIN {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#logIN:hover{
    border-radius: 50px;
    color:#ddd;
}