@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Gothic&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: 사과폰트;
    src: url(../fonts/Clock.otf);
}


img {
    position:absolute;
    width:100%;
    height:100vh;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity: 90%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "open-sans",sans-serif;
    animation: open 10s;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    opacity: 0; /* Initially hidden */
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0.5s; /* Delay of 0.5s */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

h2{
    font-family: 사과폰트;
    font-size: 150px;
    font-weight: bold;
    margin: 50px 0 0 0;
}


h3{
    font-family: 사과폰트;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0;
}