ul {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    max-height: 260px; /* Set the maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    width: 50%; /* Adjust width if necessary */
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: none;
}

ul::-webkit-scrollbar {
    width: 10px;
    opacity: 1;
    background-color: transparent; /* Customize track background color */
}

ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Customize thumb background color */
    border-radius: 5px;
}

li {
    all: unset;
    margin: 5px;
    display: flex;
}

li > span {
    margin: 5px;
    transition: opacity .3s ease-in-out;
}

li > button {
    border: none;
    background: transparent;
}

li > span:hover {
    opacity: .85;
}